#
# This file is part of B2SHARE Nagios monitoring plugin.
#
# Copyright (C) 2018 Harri Hirvonsalo
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

attrs==19.1.0           # from jsonschema
certifi==2019.6.16      # from requests
chardet==3.0.4          # from requests
decorator==4.4.0        # from validators
idna==2.8               # from requests
jsonschema==3.0.2
pyrsistent==0.15.4      # from jsonschema
requests==2.22.0
six==1.12.0             # from validators, jsonschema
urllib3==1.26.5         # from requests 
validators==0.14.0
